<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
</head>
<body>

<!--  <h1 th:text="${title}">TITLE</h1>-->
<!--  <p>The artist is <span th:text="${artist}"></span> </p>-->
<!--  <p th:text="${songCount}">Number of Songs</p>-->
<!--  <p th:text="${length}">Length</p>-->


  <h1>Albums</h1>
  <ul th:each="album : ${album}">
      <li>
          <h2 th:text="${album.title}"></h2>
          <p>Artist: <span th:text="${album.artist}"></span></p>
          <p>Song count: <span th:text="${album.songCount}"></span></p>
          <p>Length: <span th:text="${album.length}"></span></p>
<!--          <p>Image URL: <span th:text="${album.imageUrl}"></span>-->
              <img th:src="${album.imageUrl}" alt="Album art">

      </li>
  </ul>


</body>
</html>

